body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  cursor: none;

  font-family: 'Lexend', sans-serif;
}

img {
user-select: none;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 2rem;
}

#game-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px;

  top: 0;
  left: 0;
}