body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  cursor: none;
}

img {
user-select: none;
}

#custom-cursor {
  position: absolute;
  pointer-events: none;
  width: 100px;
  height: 100px;
  z-index: 1000;
}

#custom-cursor img {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 2rem;
}